

<h4>Update Category</h4>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@category, html: { multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%# f.collection_select(:category_id, @main_cats, :id, :name, {:prompt=>true}, {:id=>'parent'}) %>
    
    <%= f.label :title %>
    <%= f.text_field :name, class: 'form-control' %>



   
   <%= f.submit "Save changes", class: "btn btn-primary" %>
    
	
  	<% end %>
  	
  