<%= form_for(@photo_new, html: { multipart: true }) do |f| %>
 <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
   <%= f.text_area :title, placeholder: "title" %>
   <%= f.text_area :description, placeholder: "description" %>
   <%= f.text_area :date_taken, placeholder: "date_taken" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <span class="picture">
   <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  
   <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |b| %>
  <div class="collection-check-box">
   <%# b.check_box %>
   <%= b.label %>
   <%= b.label(class: "check_box") { b.check_box(class: "check_box") } %>
  </div>  
 <% end %>

<% end %>






