
 <div class="menu-category list-group ">
  <span">
  	
  	  	
  	
  	 <% @size =  ImageSize.path('public'+ photo.picture.url).size %>
  	
  	<% if @size %>
  	
  	 <% if @size[0]>@size[1]%>
  	  <% @width = '100%' %> 	
  	 <% else %>
  	  <% @width = '65%' %>
  	 <% end %>
  	
  	
  	
  	<%else%>
  	
  	<%end%>
 
  	
  
  	
   <a href = "photos/<%= photo.id %>" class="img-responsive center-bldock list-group-item" style="max-width:<%= @width %>;max-height:<%= @width %>"><%= image_tag(photo.picture, width: '100%', alt:'') %></a>
   <%= link_to photo.title, photo%>
   
   
   <!-- <div class="menu-category-name list-group-item active"><%= link_to photo.title, photo %></div> -->
  </span>
 </div>







