<section class="new_photo_form">
 <%= render 'shared/photo_form' %>
</section>

<%= form_for(@photo_new, html: { multipart: true }) do |f| %>
 <%= f.collection_check_boxes :category_ids, @cats, :id, :name do |b| %>
  <div class="collection-check-box">
   <%# b.check_box %>
   <%= b.label %>
   <%= b.label(class: "check_box") { b.check_box(class: "check_box") } %>
  </div>  
 <% end %>
<% end %>