<header class="navbar navbar-fixed-top">
  <div class="container">
  <%= link_to image_tag('MAM11bc.png', :alt => 'mick medium', height: '46', id: 'logo', align: 'center', margin: '1px'), root_path, id: "logo" %>
    
      <%= link_to "random", root_path %>&nbsp&nbsp&nbsp
      <%= link_to "abc", {:controller => "photos", :action => "index", :abc => 'abc' }%>
      
      <% if session[:current_cat] %>
       <% @c = session[:current_cat] %>
       
       <% @ci = @cats.index(@c) %>
       <% @ci = @ci.to_i %>
       
       
       <% @to_id = @cats[0..@ci] %>
       
       <% @to_id = @to_id.reverse.drop(1).reverse %>
       
       
       <%# @ci %>
       <% @ci = @ci+1	%>
       <% @from_id = @cats[@ci..-1] %>
 	   <% @from_id = @from_id.drop(0) %>
   
 	   <% @cats = @to_id + @from_id %>
 
       <% @to_id.each do |cat| %>
        <span class="cats"><%= link_to cat.name, photos_path(category_id: cat.id) %></span>
       <% end %>
      
      &nbsp<span style="color:red"><%= @c.name %></span>&nbsp
      
       <% @from_id.each do |cat| %>
        <span class="cats"><%= link_to cat.name, photos_path(category_id: cat.id) %></span>
       <% end %>
      
      
      
      <% else %>	
      
      
    <% @cats.each do |cat| %>
        <span class="cats"><%= link_to cat.name, photos_path(category_id: cat.id) %></span>
       <% end %>  
      
      <%end%>
   
<% if session[:photos]%>  
<% else %>
  <% if @photos.count > 4 %>	
  <%= @photos.count %>

     <%= will_paginate @photos, :previous_label=>"<", :next_label=>">" %>
     
  <% end %>

    
    <% end %>  
  </div>
</header>
