<!DOCTYPE html>
<html>
 <head>
  <title><%= full_title(yield(:title)) %></title>
   <%= csrf_meta_tags %>
   <%= render 'layouts/shim' %>
   <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
   
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="https://cdn.jsdelivr.net/jquery.superslides/0.6.2/jquery.superslides.js"></script>
		
	<meta name="description" content="a collection of point and shoots from my daily travels" />
<meta property="og:image" content= <%= image_tag @photos[1].picture %>	
<meta property="og:title" content="mick medium - nyc photos" />
<meta property="og:description" content="a collection of point and shoots from my daily travels" />
	
<link rel="image_src" href="MAM11bc.png" />	
	
	<!-- <lidnk rel="stylesheet" href="/assets/stylesheets/superslides.css">  -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.superslides/0.6.2/stylesheets/superslides.css"> -->
    <!-- <script src="/assets/javascripts/jquery.easing.1.3.js"></script> -->
    <!-- <script src="/assets/javascripts/jquery.animate-enhanced.min.js"></script>  -->
    <!-- <script src="/assets/javascripts/jquery.superslides.js" type="text/javascript" charset="utf-8"></script> -->
 
 </head>
<body>
 <%= render 'layouts/header' %>	
  
	  <div id="slides" style="display:none;">	 
	   <div class = "height-fill">
	    <div class="slides-container">
	    <% if @photo %>
	     <% @fullscreen_photos.each do |photo| %>
	 	
	   	  <%= photo[:title] %>
	   	  
	   	   <%= link_to photo_path(id: @photo.id) do %>
	 	    <div class="shoonga" style="background-image: url(<%= photo.picture %>)"></div>
	 	   
	       <% end %>
	      
	       <% end %>
	      
	      <% end %>
	    </div>
	   </div>
	 
	  <div id="fullNav">
	   <nav class="slides-navigation">
	    <a href="#" class="next">>></a>
	    <a href="#" class="prev"><<</a>
	   </nav>
	  </div>
	 </div>
   

 	
 	
 <div class="container">
  <div class = "">
  	
   <% if @photo %>
   
  <% if session[:abc]%>
   <%= link_to session[:abc], photos_path(abc: session[:abc]) %>
  <% end %> 
   
	<% if @current_page && @current_cat %>	
     <%= link_to @current_cat.name, photos_path(category_id: @current_cat.id) %>&nbsp
  	
     <% if @current_page > 1 %>
      <% @previous = @current_page-1 %>
      <%= link_to '<<..', photos_path(category_id: @current_cat.id, page: @previous) %> 
      <%= link_to @current_page-1, photos_path(category_id: @current_cat.id, page: @previous) %> 
     <% end %>
	 <span style="color:orange">&nbsp&nbsp<%= @current_page %>&nbsp&nbsp</span>
	  <% @next = @current_page+1 %>
      <%= link_to @current_page+1, photos_path(category_id: @current_cat.id, page: @next) %>
      <%= link_to '..>>', photos_path(category_id: @current_cat.id, page: @next) %>
    <% end %>
  
   <%else%>
  
    <% @photos.count %>
    <% if session[:current_cat] %>
     <% session[:current_cat].name %>
     <% if @photos.count > 3 %>
	  <div style="display:inline-block"> 	
	  <span style="line-height:16px">   <%= link_to session[:current_cat].name, photos_path(category_id: session[:current_cat].id) %></span>
	  <%= will_paginate @photos, :previous_label=>"<", :next_label=>">" %>
	  </div>  
     <% end %>
    <% else %>
     <%if session[:abc]%>
   	  <% if @photos.count > 3 %>
	   <div style="display:inline-block"> 	
	    <span style="line-height:16px">   <%= link_to session[:abc], photos_path(abc: session[:abc]) %></span>
	    <%= will_paginate @photos, :previous_label=>"<", :next_label=>">" %>
	   </div>  
     <% end %>
    <% end %>
   <% end %>

 
 
 <% end %>
 </div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  <%= yield %> 
  <%= render 'layouts/footer' %>
 </div>
</body>
</html>